/tools/glsl2hpp/build/win32/vs2013/Debug
/build/win32/vs2013/Debug
/build/win32/vs2013/Release
/examples/test/build/win32/vs2013/Debug
/examples/test/build/win32/vs2013/Release
/tools/glsl2hpp/build/win32/vs2013/Release
/examples/test/build/win32/vs2013/test.sdf
/examples/test/build/win32/vs2013/test.v12.suo
/build/win32/vs2013/neogfx.sdf
/build/win32/vs2013/neogfx.v12.suo
/tools/bin
/lib
/examples/test/build/win32/vs2013/test.opensdf
/tools/nrc2cpp/build/win32/vs2013/Release
/3rdparty/zlib/zlib-1.2.8/build
/3rdparty/zlib/zlib-1.2.8/lib/zlibstatic.lib
/3rdparty/zlib/zlib-1.2.8/lib/zlibstaticd.lib
/3rdparty/zlib/zlib-1.2.8/zconf.h.included
/3rdparty/libpng/libpng-1.6.21/build
/3rdparty/libpng/libpng-1.6.21/lib/libpng16_static.lib
/3rdparty/libpng/libpng-1.6.21/lib/libpng16_staticd.lib
/tools/nrc/build/win32/vs2013/Debug
/tools/nrc/build/win32/vs2013/Release
/examples/neopede/build/win32/vs2013/Release
/examples/neopede/build/win32/vs2013/neopede.sdf
/examples/neopede/build/win32/vs2013/Debug
/build/win32/vs2015/Release
/examples/neopede/build/win32/vs2015/neopede.sdf
/examples/test/build/win32/vs2015/.vs/test/v14/.suo
/examples/test/build/win32/vs2015/test.v12.suo
/examples/test/build/win32/vs2015/test.sdf
/examples/neopede/build/win32/vs2015/Debug
/examples/test/build/win32/vs2015/test.VC.opendb
/3rdparty/freetype/freetype-2.6/build
/3rdparty/SDL/SDL2-2.0.4/build
/3rdparty/SDL/SDL2-2.0.4/lib/SDL2.lib
/3rdparty/SDL/SDL2-2.0.4/lib/SDL2d.lib
/3rdparty/freetype/freetype-2.6/lib/freetype.lib
/3rdparty/freetype/freetype-2.6/lib/freetyped.lib
/examples/neopede/build/win32/vs2015/Release
/examples/test/build/win32/vs2015/Debug
/examples/test/build/win32/vs2015/Release
/tools/glsl2hpp/build/win32/vs2015/Debug
/tools/glsl2hpp/build/win32/vs2015/Release
/tools/nrc/build/win32/vs2015/Debug
/tools/nrc/build/win32/vs2015/Release
/3rdparty/harfbuzz/harfbuzz-1.2.3/build
/3rdparty/harfbuzz/harfbuzz-1.2.3/lib/harfbuzz.lib
/3rdparty/harfbuzz/harfbuzz-1.2.3/lib/harfbuzzd.lib
/build/win32/vs2015/Debug
/examples/test/build/win32/vs2015/test.vcxproj.user
/3rdparty/glew/glew-1.13.0/stage
/3rdparty/glew/glew-1.13.0/lib/libglew32.lib
/3rdparty/glew/glew-1.13.0/lib/libglew32d.lib
/3rdparty/glew/glew-1.13.0/glewmx.pc
/3rdparty/glew/glew-1.13.0/glew.pc
/3rdparty/harfbuzz/harfbuzz-1.2.3/stage
/examples/test/build/win32/vs2015/caw_toolbar.naa
/build/win32/vs2015/.vs/neogfx/v14/.suo
/build/win32/vs2015/neogfx.sdf
/examples/test/build/win32/vs2015/test.VC.VC.opendb
/examples/test/build/win32/vs2015/test.VC.db
/tools/glsl2hpp.exe
/3rdparty/freetype/freetype-2.6.4/build
/3rdparty/freetype/freetype-2.6.4/lib/freetype.lib
/3rdparty/freetype/freetype-2.6.4/lib/freetyped.lib
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/.vs/harfbuzz/v14/.suo
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/Debug/harfbuzz.lib
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/Debug/harfbuzz.pdb
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/Release/harfbuzz.lib
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz.sdf
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz.sln
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/harfbuzz.idb
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/harfbuzz.log
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/harfbuzz.pdb
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/harfbuzz.tlog/CL.command.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/harfbuzz.tlog/CL.read.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/harfbuzz.tlog/CL.write.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/harfbuzz.tlog/Lib-link.read.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/harfbuzz.tlog/Lib-link.write.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/harfbuzz.tlog/harfbuzz.lastbuildstate
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/harfbuzz.tlog/lib.command.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-blob.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-buffer-serialize.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-buffer.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-common.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-face.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-fallback-shape.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-font.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ft.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-font.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-layout.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-map.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-math.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-arabic.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-default.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-hangul.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-hebrew.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-indic-table.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-indic.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-myanmar.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-thai.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-tibetan.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-use-table.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-complex-use.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-fallback.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape-normalize.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-shape.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-tag.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ot-var.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-set.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-shape-plan.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-shape.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-shaper.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-ucdn.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-unicode.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/hb-warning.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Debug/ucdn.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/harfbuzz.log
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/harfbuzz.pdb
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/harfbuzz.tlog/CL.command.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/harfbuzz.tlog/CL.read.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/harfbuzz.tlog/CL.write.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/harfbuzz.tlog/Lib-link.read.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/harfbuzz.tlog/Lib-link.write.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/harfbuzz.tlog/harfbuzz.lastbuildstate
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/harfbuzz.tlog/lib.command.1.tlog
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-blob.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-buffer-serialize.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-buffer.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-common.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-face.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-fallback-shape.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-font.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ft.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-font.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-layout.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-map.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-math.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-arabic.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-default.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-hangul.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-hebrew.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-indic-table.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-indic.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-myanmar.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-thai.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-tibetan.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-use-table.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-complex-use.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-fallback.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape-normalize.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-shape.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-tag.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ot-var.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-set.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-shape-plan.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-shape.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-shaper.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-ucdn.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-unicode.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/hb-warning.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/Release/ucdn.obj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/harfbuzz.vcxproj
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/harfbuzz.vcxproj.filters
/3rdparty/harfbuzz/harfbuzz-1.4.2/build/harfbuzz/harfbuzz/harfbuzz.vcxproj.user
/3rdparty/harfbuzz/harfbuzz-1.4.2/lib/harfbuzz.lib
/3rdparty/harfbuzz/harfbuzz-1.4.2/lib/harfbuzzd.lib
/3rdparty/harfbuzz/harfbuzz-1.4.2/src/ucdn.c
/3rdparty/harfbuzz/harfbuzz-1.4.2/src/ucdn.h
/3rdparty/harfbuzz/harfbuzz-1.4.2/src/unicodedata_db.h
/3rdparty/SDL/SDL2-2.0.5/build
/3rdparty/SDL/SDL2-2.0.5/lib/SDL2.lib
/3rdparty/SDL/SDL2-2.0.5/lib/SDL2d.lib
/examples/test/build/win32/vs2015/.vs/config/applicationhost.config
/examples/test/build/win32/vs2015/ipch/NEOGUI-6ed3c289/*.ipch
/tools/neoGUI/Debug
/tools/neoGUI/Release
/tools/neoGUI/.vs/neoGUI/v14/*.suo
/tools/neoGUI/neoGUI.VC.opendb
/tools/neoGUI/neoGUI.sdf
/tools/neoGUI/neoGUI.vcxproj.user
/3rdparty/SDL/SDL2-2.0.5/stage
/3rdparty/freetype/freetype-2.6.4/stage
/3rdparty/harfbuzz/harfbuzz-1.4.2/stage/harfbuzz
/tools/neoGUI/x64/Release
/tools/neoGUI/neoGUI.VC.db
/tools/neoGUI/neoGUI.VC.VC.opendb
/tools/glsl2hpp/build/win32/vs2015/glsl2hpp.vcxproj.user
/3rdparty/harfbuzz/harfbuzz-1.4.6/stage
/3rdparty/glew/glew-1.13.0/build/cmake/stage
/3rdparty/libpng/libpng-1.6.21/stage
/3rdparty/zlib/zlib-1.2.8/stage
/3rdparty/harfbuzz/harfbuzz-1.4.6/lib/*.lib
/tools/neoGUI/x64/Debug
/3rdparty/freetype/freetype-2.8/stage
/3rdparty/freetype/freetype-2.8/lib/freetype.lib
/3rdparty/freetype/freetype-2.8/lib/freetyped.lib
/examples/test/build/win32/vs2015/test.aps
/doxygen.zip
/doxygen/html
/examples/games/video_poker/build/win32/vs2015/.vs
Release
Debug
/examples/games/video_poker/build/win32/vs2015/Release
/examples/games/video_poker/build/win32/vs2015/Debug
/examples/games/video_poker/build/win32/vs2015/video_poker.VC.opendb
/examples/games/video_poker/build/win32/vs2015/video_poker.sdf
/examples/games/video_poker/build/win32/vs2015/video_poker.vcxproj.user
