/tools/glsl2hpp/build/win32/vs2013/Debug
/build/win32/vs2013/Debug
/build/win32/vs2013/Release
/examples/test/build/win32/vs2013/Debug
/examples/test/build/win32/vs2013/Release
/tools/glsl2hpp/build/win32/vs2013/Release
/examples/test/build/win32/vs2013/test.sdf
/examples/test/build/win32/vs2013/test.v12.suo
/build/win32/vs2013/neogfx.sdf
/build/win32/vs2013/neogfx.v12.suo
/tools/bin
/lib
/examples/test/build/win32/vs2013/test.opensdf
/tools/nrc2cpp/build/win32/vs2013/Release
/3rdparty/zlib/zlib-1.2.8/build
/3rdparty/zlib/zlib-1.2.8/lib/zlibstatic.lib
/3rdparty/zlib/zlib-1.2.8/lib/zlibstaticd.lib
/3rdparty/zlib/zlib-1.2.8/zconf.h.included
/3rdparty/libpng/libpng-1.6.21/build
/3rdparty/libpng/libpng-1.6.21/lib/libpng16_static.lib
/3rdparty/libpng/libpng-1.6.21/lib/libpng16_staticd.lib
/tools/nrc/build/win32/vs2013/Debug
/tools/nrc/build/win32/vs2013/Release
/examples/neopede/build/win32/vs2013/Release
/examples/neopede/build/win32/vs2013/neopede.sdf
/examples/neopede/build/win32/vs2013/Debug
/build/win32/vs2015/Release
/examples/neopede/build/win32/vs2015/neopede.sdf
/examples/test/build/win32/vs2015/.vs/test/v14/.suo
/examples/test/build/win32/vs2015/test.v12.suo
/examples/test/build/win32/vs2015/test.sdf
/examples/neopede/build/win32/vs2015/Debug
/examples/test/build/win32/vs2015/test.VC.opendb
/3rdparty/freetype/freetype-2.6/build
/3rdparty/SDL/SDL2-2.0.4/build
/3rdparty/SDL/SDL2-2.0.4/lib/SDL2.lib
/3rdparty/SDL/SDL2-2.0.4/lib/SDL2d.lib
/3rdparty/freetype/freetype-2.6/lib/freetype.lib
/3rdparty/freetype/freetype-2.6/lib/freetyped.lib
/examples/neopede/build/win32/vs2015/Release
/examples/test/build/win32/vs2015/Debug
/examples/test/build/win32/vs2015/Release
/tools/glsl2hpp/build/win32/vs2015/Debug
/tools/glsl2hpp/build/win32/vs2015/Release
/tools/nrc/build/win32/vs2015/Debug
/tools/nrc/build/win32/vs2015/Release
/3rdparty/harfbuzz/harfbuzz-1.2.3/build
/3rdparty/harfbuzz/harfbuzz-1.2.3/lib/harfbuzz.lib
/3rdparty/harfbuzz/harfbuzz-1.2.3/lib/harfbuzzd.lib
