/tools/glsl2hpp/build/win32/vs2013/Debug
/build/win32/vs2013/Debug
/build/win32/vs2013/Release
/examples/test/build/win32/vs2013/Debug
/examples/test/build/win32/vs2013/Release
/tools/glsl2hpp/build/win32/vs2013/Release
/examples/test/build/win32/vs2013/test.sdf
/examples/test/build/win32/vs2013/test.v12.suo
/build/win32/vs2013/neogfx.sdf
/build/win32/vs2013/neogfx.v12.suo
/tools/bin
/lib
/examples/test/build/win32/vs2013/test.opensdf
